@page
@model ChalkBoardChat.Ui.Pages.Posts.IndexModel
@{
}
<h1>Make a post</h1>



@* ''Lägg in form'' *@
<form method="post">
    <textarea placeholder="Write write.."></textarea> @* asp-for="Text" *@
    <br />

    <input type="submit" value="Create post" /> 
</form>

@* //lägg in foreach som loopar fram alla messages från db *@

